
<h2>About Message Board</h2>

<p>The message board allows you to post questions and get them answered by other users.<br>
   It also enables you to contribute to the community by allowing yout to answer the questions yourself</p>
{{outlet}}
