<h1> Welcome to the Message Board  </h1>

<p>
  We hope you get all your questions answered here.
</p>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
{{outlet}}
